.logogit{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.git{    
    width: 50%;
}
.competence{
    margin-bottom: 2vh;
}
.competence h2 {
    color: rgba(0, 0, 0, 0);
}
.competence1 {
    margin-top: 1rem;
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.t {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.t h3 {
    color: rgba(255, 255, 255, 0.5);
}
.t .tp {
    color: #FFB800;
    font-size: 2em;
    
}

.competence2 {
    margin-top: 5rem ;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}
.t2 {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.t2 h3 {
    color: rgba(255, 255, 255, 0.5);
}
.t2 .tp {
    color: #FFB800;
    font-size: 2em;

}