.profil {
    max-width: 70%;
    text-align: center;
    margin: auto;

}
.profil h2 {
    margin-left: 70%;
    margin-top: 5rem;
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.profil h2 span {
    color: #FFB800;
    font-size: 1.5em;
}
.profil p {
    margin-top: 2rem;
    text-align: justify;
    color: #ffff;
    font-size: 1.8em;
}