@media (max-width: 991px) {
    .modalContact {
        border-radius: 0;
        border: none;
        width: 100%;
        right: 0;
        @keyframes animatetop {
            from {
                right: 0;
                opacity: 0;
            }
            to {
                right: 0;
                opacity: 1;
            }
        }
    }

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navbar li {
        margin-left: 0px;
    }

    header .navbar li a {
        text-decoration: none;
        color: #fff;
        font-size: 3vw;
        font-weight: 300;
    }

    .navbar {
        display: none;
    }

    header .navbar.active {
        z-index: 10;
        width: 100%;
        position: fixed;
        top: 68px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #177d9d;
        align-items: center;
    }

    .menuToggle {
        display: block;
        position: relative;
        color: #fff;
        font-size: 2rem;
        transform: rotate(90deg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        color: #fff;
        background-size: 25px;
        background-repeat: no-repeat;
        background-origin: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }
    .icone {
        top: 10vh;
    }
    .contactbox {
        margin-left: 25%;
    }
    .contactbox {
        max-width: 400px;
        margin: auto;
    }
    .contenu {
        background-image: url(../img/Circuit-Tree-Vector_Recadrer1.jpg);
        opacity: 0.75;
    }

    .photo h2 {
        font-size: 2.5em;
    }
    .photo h2 span {
        font-size: 1.5em;
    }
    .profil h2 {
        font-size: 2.2em;
    }
    .profil p {
        font-size: 1.6em;
    }
    .compétenceText {
        h2 {
            margin: 0;
        }
        .titleCompetence {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        ul {
            li {
                font-size: 1rem;
            }
        }
    }

    .cv {
        font-size: 1.8em;
    }
    .profil {
        max-width: 80%;
    }
    .t h3 {
        color: rgba(0, 0, 0, 0);
    }
    .t2 h3 {
        color: rgba(0, 0, 0, 0);
    }

    .competence1 {
        margin-top: 4rem;
    }
    .competence1 img {
        width: 80px;
        height: 80px;
    }
    .t {
        margin-top: 4rem;
    }
    .competence2 {
        margin-top: 4rem;
    }
    .competence2 img {
        width: 70px;
        height: 70px;
    }
    .t2 {
        margin-top: 4rem;
        margin-bottom: 10rem;
    }
    .t .tp {
        color: #ffb800;
        font-size: 1.5em;
    }
    .t2 .tp {
        color: #ffb800;
        font-size: 1.5em;
    }
    .contactbox {
        margin-top: 70px;
        padding: 20px 50px;
    }
}
