.navbar {
    display: flex;
    position: relative;
    overflow: visible;
}
.navbar li {
    list-style: none;
    padding-top: 20px;
    
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
header .navbar li a:hover {
    border-bottom:2px solid #fff ; 
}
