.navbar {
    display: flex;
    position: relative;
    overflow: visible;
}
.navbar li {
    list-style: none;
    padding-top: 20px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 3rem;
    font-weight: 700;
    font-size: 1.4rem;
}
header .navbar li a:hover {
    border-bottom: 2px solid #fff;
}
