.cardcont {
  z-index: 10;
  width: 100%;
  height: 1000vh;
  top: 0;
  position: fixed;
  overflow: auto;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: none;
}
.modalContact {
  position: relative;
  z-index: 100;
  top: 10vh;
  right: -80%;
  background-color: #fff;
  width: 30vh;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(1, 3fr);
  align-content: center;
  text-align: center;
  border-radius: 1vh;
  border: 3px solid #177d9d;
  animation-name: animatetop;
  animation-duration: 1s;
  p {
    padding: 2vh;
  }
}
@keyframes animatetop {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: -80%;
    opacity: 1;
  }
}
.buttContact {
  justify-self: center;
  border-radius: 2vh;
  width: 10vh;
  height: 4vh;
  background-color: #177d9d;
  position: relative;
  .Mail {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 70%;
  }
}
