.cardcont{
  z-index: 10;
    top: 10vh;
    background-color: #fff;
    width: 30vh;
    height: 25vh;
    display: none;
    grid-template-columns: repeat(1);
    align-items: center;
    text-align: center;
    right: 10%;
    position: absolute;
    border-radius: 1vh;
    border: 3px solid #177D9D;
    animation-name: animatetop;
    animation-duration: 1s;
}
@keyframes animatetop {
    from {
      right:-100%; 
      opacity:0;
    }
    to {
      right:10%; 
      opacity:1;
    }
  }
  .buttContact{
      
      border-radius: 2vh;
      width: 10vh;
      height: 4vh;
      background-color: #177D9D;
      position: relative;
      .Mail{
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 80%;
  }
  } 
   .modalContact {
    p{
       padding: 2vh;
    }       
  }
  
